.cardContainer * {
    padding: 0;
    margin: 0;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #00000027;
    gap: 32px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 20px;
}

.description {
    font-size: var(--font-size-base);
    font-weight: 400;
}

.date {
    font-size: var(--font-size-small);
    font-weight: 400;
    color: #0000009b;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    font-size: var(--font-size-base);
    padding: 2px 6px;
    border-radius: 3px;
    color: white;
}

.tagAPI {
    background-color: #FFC5003B;
    color: #A16B00;
}

.tagCatalog {
    background-color: #00000010;
    color: #0000009B;
}

.browseButton {
    color: #202020;
    font-size: var(--font-size-base);
}

.readMore {
    border: none;
    text-decoration: underline;
    cursor: pointer;
    background: none;
}