.datePicker {
    /*  The 'composes' keyword allows us to extend the react-aria-DatePicker class
        so we can override rules here without rewriting all of them
    */
    composes: react-aria-DatePicker from global;
    /* See src/components/core/DatePicker.css for ideas on customizing this component */

    display: flex;
    flex-direction: column;
}

.dateInput {
    composes: react-aria-DateInput from global;
}

.hoverDatepicker {
    outline: 3px solid var(--highlight-hover);
    outline-offset: -1px;
}