@import '../styles/react-aria/Button.css';
@import '../styles/react-aria/Popover.css';
@import '../styles/react-aria/Dialog.css';
@import '../styles/react-aria/DateField.css';
@import '../styles/react-aria/Calendar.css';
@import '../styles/react-aria/Form.css';
@import "../theme.css";

.react-aria-DatePicker {
    color: var(--text-color);
  
    .react-aria-Group {
      display: flex;
      width: fit-content;
      align-items: center;
    }
  
    .react-aria-Button {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      border: 2px solid var(--field-background);
      forced-color-adjust: none;
      border-radius: 4px;
      border: none;
      margin-left: -1.929rem;
      width: 1.429rem;
      height: 1.429rem;
      padding: 0;
      font-size: 0.857rem;
      box-sizing: content-box;
  
      &[data-pressed] {
        box-shadow: none;
        background: var(--highlight-background);
      }
  
      &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: 2px;
      }
    }
  
    .react-aria-DateInput {
      padding: 4px 2.5rem 4px 8px;
    }

    .react-aria-DateField {
      color: var(--text-color);
    }
    
    .react-aria-DateInput {
      display: flex;
      padding: 4px;
      border: 1px solid var(--border-color);
      border-radius: 6px;
      background: var(--field-background);
      width: fit-content;
      min-width: 150px;
      white-space: nowrap;
      forced-color-adjust: none;
    
      &[data-focus-within] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
      }
    }
    
    .react-aria-DateSegment {
      padding: 0 2px;
      font-variant-numeric: tabular-nums;
      text-align: end;
      color: var(--text-color);
    
      &[data-type=literal] {
        padding: 0;
      }
    
      &[data-placeholder] {
        color: var(--text-color-placeholder);
        font-style: italic;
      }
    
      &:focus {
        color: var(--highlight-foreground);
        background: var(--highlight-background);
        outline: none;
        border-radius: 4px;
        caret-color: transparent;
      }
    }
  }
  
  .react-aria-Popover[data-trigger=DatePicker] {
    max-width: unset;
  }