.iconButton button {
    border: 0;
    background: none;
    padding: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #3b3b50;
}

.iconButton button:hover {
    border: 0;
    background: #dbdbdb;
}
