.iconButton button {
    border: 0;
    background: none;
    padding: 4px;
    width: 24px;
    height: 24px;
    border-radius: var(--border-radius-medium, 50%);
    color: var(--text-color-primary, #3b3b50);
}

.iconButton button:hover {
    border: 0;
    background: var(--background-color, #dbdbdb);
}
