.layerGroupButton {
    border-radius: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.layerGroupChevron {
    padding: 8px;
}

.layerGroupButton:hover {
    border-color: var(--accent-color);
}

.layerGroupButton:focus, .layerGroupButton:focus-visible {
    outline: none;
    border-color: var(--accent-color);
}

.layerGroupName {
    padding: 8px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:nth-last-child(1 of .layerGroupWrapper) .layerGroupChildren {
    border-bottom: 8px solid var(--primary-color); 
}