.layerGroupWrapper {
    width: 100%;
}

.layerGroupButton {
    border-radius: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid transparent;
    width: 100%;
}

.layerGroupChevron {
    padding: 4px;
}

.layerGroupButton:hover {
    border-color: var(--accent-color);
}

.layerGroupButton:focus, .layerGroupButton:focus-visible {
    outline: none;
    border-color: var(--accent-color);
}

.layerGroupName {
    padding: 8px;
    width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-wrap: pretty;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: var(--font-size-medium);
}

:nth-last-child(1 of .layerGroupWrapper) .layerGroupChildren {
    border-bottom: 8px solid var(--primary-color); 
}