:root {
    --width: 1.5rem;
    --padding: calc(var(--width) / 10);
    --height: calc(var(--width) / 2);
}

.switch {
  display: flex;
  /* This is needed so the HiddenInput is positioned correctly */
  position: relative;
  align-items: center;
  padding: calc(var(--padding) * 2);
  gap: 0.571rem;
  font-size: 1.143rem;
  color: var(--text-color-secondary);
  forced-color-adjust: none;
  cursor: pointer;

  .indicator {
    width: var(--width);
    padding: var(--padding);
    height: var(--height);
    border: none;
    background: var(--background-color-secondary);
    border-radius: 1.143rem;
    transition: all 200ms;

    &:before {
      content: '';
      align-self: center;
      display: block;
      width: calc((var(--width) - var(--padding))/1.8);
      height: calc((var(--width) - var(--padding))/1.8);
      background: var(--foreground-color);
      border-radius: 16px;
      transition: all 200ms;
    }
  }

  &[data-pressed] .indicator {
    &:before {
      background: var(--tertiary-color);
    }
  }

  &[data-selected] {
    .indicator {
      background: var(--background-color-secondary);

      &:before {
        background: var(--tertiary-color);
        transform: translateX(100%);
      }
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--disabled-color);
    cursor: not-allowed;

    .indicator {
      background-color: var(--background-color);

      &:before {
        background: var(--foreground-color);
      }
    }
  }
}
