.rangeSlider {
    display: grid;
    grid-template-areas: "label"
                         "track"
                         "values";
    grid-template-columns: 1fr;
    max-width: 100%;
    color: var(--text-color);
    justify-self: center;
    box-sizing: border-box;
    width: 90%;
}

.rangeSliderLabel {
    grid-area: label;
}

.rangeSliderValues {
    grid-area: values;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: var(--secondary-text-color);
}

.rangeSliderMin {
    margin-right: auto;
}

.rangeSliderMax {
    margin-left: auto;
}

.rangeSliderContainer {
    display: inline-flex;
    grid-area: track;
    position: relative;
    margin: 0 0;
    width: 100%;
    align-items: center;
    height: 30px;
}

.rangeSliderTrack {
    position: absolute;
    z-index: 0;
    height: 2px;
    margin: 3px 0;
    width: 100%;
    background: #ddd;
}

.rangeSliderHandleBar {
    z-index: 1;
    cursor: grab;
    display: inline;
    height: 4px;
    background: var(--tertiary-color);
    position: absolute;
    margin: 1px 0;
}

.rangeSliderHandleLeft,
.rangeSliderHandleRight {
    margin: 0 -10px;
    z-index: 2;
    cursor: col-resize;
    display: inline;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--secondary-color);
    border: 2px solid var(--background-color);
    forced-color-adjust: none;
}
