/* Swatch container */
.swatch-container {
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    align-items: center;
    width: 100%;
    height: 100%;
}

.swatch {
    padding: 8px;
    border: 1px solid grey;
    box-sizing: border-box;
}

/* Swatch label */
.swatch-label {
    font-size: 14px;
    margin: 0 8px;
}

/* Swatch value */
.swatch-value {
    font-size: 14px;
}
