.infoPanelContainer {
    background-color: var(--background-color);
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: var(--border-radius-small);
    margin: 8px;
}

.topLeft {
    grid-area: 1/1/2/2;
    align-self: flex-start;
}

.topRight {
    grid-area: 1/4/2/5;
    align-self: flex-start;
}

.centerLeft {
    grid-area: 2/1/3/2;
    align-self: center;
}

.centerRight {
    grid-area: 2/4/3/5;
    align-self: center;
}

.bottomLeft {
    grid-area: 3/1/4/2;
    align-self: flex-end;
}

.bottomRight {
    grid-area: 3/4/4/5;
    align-self: flex-end;
}
