.nav-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title logo";
    grid-area: nav;
    height: 100%;
    width: 100%;
    color: var(--text-color-primary, #ededed);
    background-color: var(--primary-color, #3498db);
    text-align: center;
}