.layout-standard {
    height: 100vh;
    display: grid;
    grid-template-rows: 64px 1fr;
}

.layout-standard.left {
    grid-template-columns: 25vw auto;
    grid-template-areas:
        "nav nav"
        "sidebar mapWrapper";
}

.layout-standard.right {
    grid-template-columns: auto 25vw;
    grid-template-areas:
        "nav nav"
        "mapWrapper sidebar";
}

.layout-standard.left.footer {
    grid-template-columns: 25vw auto;
    grid-template-rows: 64px calc(100vh - 96px) 32px;
    grid-template-areas:
        "nav nav"
        "sidebar mapWrapper"
        "footer footer";
}

.layout-standard.right.footer {
    grid-template-columns: auto 25vw;
    grid-template-rows: 64px calc(100vh - 96px) 32px;
    grid-template-areas:
        "nav nav"
        "mapWrapper sidebar"
        "footer footer";
}
