.catalogContainer, .catalogList {
    display: flex;
    flex-direction: column;
}

.catalogList {
    gap: 24px;
}

.catalogContainer {
    height: 100%;
    overflow-y: auto;
    gap: 16px;
}

.catalogHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}

.catalogHeader h2 {
    font-size: 28;
    font-weight: 700;
}

.catalogHeader span {
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 8px;
}