.layerCard {
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    align-items: start;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--secondary-color);
}

.layerCardWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.layerCardChildren {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color-secondary);
}
