.sliderControlWrapper {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-auto-flow: dense;
    align-items: center;
}

.sliderLabel {
    grid-column-start: 1;
    align-items: center;
}