:root {
    --width: 1.5rem;
    --padding: calc(var(--width) / 10);
    --height: calc(var(--width) / 2);
}

.layerToggle {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2em;
    align-items: center;
    padding: 0 8px;
}

.switch {
    cursor: pointer;
    background: #dbdbdb;
    padding: var(--padding);
    width: var(--width);
    height: var(--height);
    border-radius: calc(var(--height) - var(--padding));
}

.switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: .2s;
}

.slider::after {
    content: '';
    border-radius: 50%;
    background: #fff;
    grid-column: 2;
    transition: background .2s;
}

input:checked + .slider {
    grid-template-columns: 1fr 1fr 0fr; 
}

input:checked + .slider::after {
    background-color: rgb(97, 99, 255);
}
